/* Estilo geral */
body {
    background-color: #f5f5f5;
}

/* Título principal */
h1 {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Títulos das seções */
h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Formulário */
#formulario {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Tabela */
#tabela {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Galeria */
#galeria {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Imagens do carrossel */
.carousel-item img {
    border-radius: 10px;
}

/* Ajuste para celulares */
@media (max-width: 600px) {

    .brand-logo {
        font-size: 20px !important;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
}
